
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function post(route) {
        if (confirm('Please confirm')) {
            $.get(route)
                .fail(function (jqXHR) {
                    if (jqXHR.status === 0) return alert('Can\'t connect to server')
                    console.log(jqXHR);
                })
        }
    }
    $('#power-off').on('click', function () {
        post('/api/poweroff');
    })

    /*
    $.get('update', function (update) {
        if (update.type && update.type === 'latest') {
            $('footer a').append(' (new version available)');
        }
    }) */
</script>

</body>
</html>