<% include header %>
    <div class="alert alert-success" role="alert" style="display: none"> Shutdown ... </div>
    <div class="row">
        <div class="mx-auto">
            <div class="jumbotron">
                <h1><%-title %></h1>
                <div id="power-off" class="btn btn-primary btn-lg">
                    Power Off
                </div>
                <footer>
                    <span id="version"> v<%-app.version %></span>
                </footer>
            </div>
        </div>
    </div>

<% include footer %>